# This file is NOT part of PulseAudio
# It contains UDev rules to staticaly assign ALSA and PulseAudio names to known sound card types.

# ALSA
SUBSYSTEM!="sound", GOTO="alsa_card_naming_end"
ACTION!="add", GOTO="alsa_card_naming_end"

DRIVERS=="bcm2835_audio", ATTR{id}="bcm2835"
DRIVERS=="snd_hda_intel", ATTR{id}="hda-intel"
DRIVERS=="snd-usb-audio", ATTR{id}="usb-soundcard-%n"
DRIVERS=="snd-rpi-simple", ATTR{id}="dac"

LAVEL="alsa_card_naming_end"


# PulseAudio
SUBSYSTEM!="sound", GOTO="pa_card_naming_end"
ACTION!="change", GOTO="pa_card_naming_end"
KERNEL!="card*", GOTO="pa_card_naming_end"

DRIVERS=="bcm2835_audio", ENV{PULSE_NAME}="bcm2835"
DRIVERS=="snd_hda_intel", ENV{PULSE_NAME}="hda-intel"
DRIVERS=="snd-usb-audio", ENV{PULSE_NAME}="usb-soundcard-%n"
DRIVERS=="snd-rpi-simple", ENV{PULSE_NAME}="dac"

LABEL="pa_card_naming_end"
