# This file is NOT part of PulseAudio
# It contains UDev rules to staticaly assign ALSA and PulseAudio names to known sound card types.
# To add missing DACs find out the driver name by checking:
# - dmesg
# - https://github.com/raspberrypi/linux/tree/1c64f4bc22811d2d371b271daa3fb27895a8abdd/sound/soc/bcm

# ALSA
SUBSYSTEM!="sound", GOTO="alsa_card_naming_end"
ACTION!="add", GOTO="alsa_card_naming_end"

DRIVERS=="snd_hda_intel", ATTR{id}="hda-intel"
DRIVERS=="snd-usb-audio", ATTR{id}="usb-soundcard-%n"
DRIVERS=="bcm2835_audio", ATTR{id}="bcm2835"

# Raspberry Pi DACs
DRIVERS=="snd-rpi-simple", ATTR{id}="dac"
DRIVERS=="snd-rpi-hifiberry-dacplus", ATTR{id}="dac"
DRIVERS=="hifiberry-dacplusdsp-codec", ATTR{id}="dac"
DRIVERS=="snd-rpi-hifiberry-dacplusadc", ATTR{id}="dac"
DRIVERS=="snd-rpi-hifiberry-dacplusadcpro", ATTR{id}="dac"
DRIVERS=="snd-allo-boss-dac", ATTR{id}="dac"
DRIVERS=="snd-allo-piano-dac", ATTR{id}="dac"
DRIVERS=="snd-allo-piano-dac-plus", ATTR{id}="dac"
DRIVERS=="snd-dionaudio-loco", ATTR{id}="dac"
DRIVERS=="snd-rpi-dionaudio-loco-v2", ATTR{id}="dac"
DRIVERS=="audioinjector-isolated", ATTR{id}="dac"
DRIVERS=="audioinjector-stereo", ATTR{id}="dac"
DRIVERS=="audioinjector-octo", ATTR{id}="dac"
DRIVERS=="snd-rpi-justboom-dac", ATTR{id}="dac"
DRIVERS=="snd-rpi-justboom-both", ATTR{id}="dac"
DRIVERS=="snd-rpi-iqaudio-dac", ATTR{id}="dac"
DRIVERS=="snd-rpi-iqaudio-codec", ATTR{id}="dac"
DRIVERS=="snd-rpi-proto", ATTR{id}="dac"
DRIVERS=="snd-fe-pi-audio", ATTR{id}="dac"
DRIVERS=="snd-rpi-i-sabre-q2m", ATTR{id}="dac"
DRIVERS=="snd-rpi-wm8804", ATTR{id}="dac"
DRIVERS=="snd-rpi-pisound", ATTR{id}="dac"
DRIVERS=="snd-rpi-cirrus", ATTR{id}="dac"
DRIVERS=="voicehat-codec", ATTR{id}="dac"
DRIVERS=="audiosense-snd-card", ATTR{id}="dac"
DRIVERS=="digidac1-audio", ATTR{id}="dac"
DRIVERS=="cygnus-ssp", ATTR{id}="dac"

LABEL="alsa_card_naming_end"

# PulseAudio
SUBSYSTEM!="sound", GOTO="pa_card_naming_end"
ACTION!="change", GOTO="pa_card_naming_end"
KERNEL!="card*", GOTO="pa_card_naming_end"

DRIVERS=="bcm2835_audio", ENV{PULSE_NAME}="bcm2835"
DRIVERS=="snd_hda_intel", ENV{PULSE_NAME}="hda-intel"
DRIVERS=="snd-usb-audio", ENV{PULSE_NAME}="usb-soundcard-%n"

# Raspberry Pi DACs
DRIVERS=="snd-rpi-simple", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-hifiberry-dacplus", ENV{PULSE_NAME}="dac"
DRIVERS=="hifiberry-dacplusdsp-codec", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-hifiberry-dacplusadc", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-hifiberry-dacplusadcpro", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-allo-boss-dac", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-allo-piano-dac", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-allo-piano-dac-plus", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-dionaudio-loco", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-dionaudio-loco-v2", ENV{PULSE_NAME}="dac"
DRIVERS=="audioinjector-isolated", ENV{PULSE_NAME}="dac"
DRIVERS=="audioinjector-stereo", ENV{PULSE_NAME}="dac"
DRIVERS=="audioinjector-octo", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-justboom-dac", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-justboom-both", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-iqaudio-dac", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-iqaudio-codec", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-proto", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-fe-pi-audio", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-i-sabre-q2m", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-wm8804", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-pisound", ENV{PULSE_NAME}="dac"
DRIVERS=="snd-rpi-cirrus", ENV{PULSE_NAME}="dac"
DRIVERS=="voicehat-codec", ENV{PULSE_NAME}="dac"
DRIVERS=="audiosense-snd-card", ENV{PULSE_NAME}="dac"
DRIVERS=="digidac1-audio", ENV{PULSE_NAME}="dac"
DRIVERS=="cygnus-ssp", ENV{PULSE_NAME}="dac"

LABEL="pa_card_naming_end"



